*{
  padding:0;
  margin:0;
}

body{
  background-color: rgb(78, 136, 138);
  font-family: "Open Sans";
}

button{
  outline: none;
  cursor:pointer;
}

#addTodoListDiv{
  margin-left: 2em;
  margin-top: 4em;
}

#addTodoListDiv button{
  margin-left: 0.5em;
}

#root{
  margin: 1em;
  min-width: 1200px;
}

.todoList{
  border-radius: 4px;
  min-height: 100px;
  background: rgb(235,235,235);
  padding: 0.7em;
  margin: 1em 0 1em 1em;
  float: left;
}

.todoList h2{
  font-size: 1em;
  margin-bottom: 0.5em;
}

#to-do-list-button{
  margin-left:0.5em;
}

.comment{
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-top: 0.5em;
  padding: 0.5em;
  font-size: 0.8em;
}

.commentsInput{
  margin-right: 0.5em;
}

.btn-save{
  background-color: #5aac44;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 0.5em;
  margin-top: 0.5em;
}
